<div class="card-header mt-2" align="center"><h2>ADD CAR</h2></div>
<div class="m-3" align="center">
  <div class="card-body">
    <form>
      <div class="col-md-10 m-2">
        <div>
          <label for="CarName"><strong>Car Name</strong> </label>
          <input
            type="text"
            id="CarName"
            class="form-control"
            aria-describedby="Car Name"
            placeholder="Enter Car Name"
          />
        </div>

        <div class="mt-4">
          <label for="brandId"> <strong>Brand ID </strong></label>
          <input
            type="number"
            class="form-control"
            id="brandId"
            placeholder="Brand Id Number"
          />
        </div>
        <div class="mt-4">
          <label for="colorId"> <strong>Color ID</strong></label>
          <input
            type="number"
            class="form-control"
            id="colorId"
            placeholder="Color Id Number"
          />
        </div>
        <div class="mt-4">
          <label for="modelYear"><strong>Model Year</strong></label>
          <input
            type="text"
            class="form-control"
            id="modelYear"
            placeholder="Model Year"
          />
        </div>
        <div class="mt-4">
          <label for="dailyPrice"><strong>Daily Price</strong></label>
          <input
            type="number"
            class="form-control"
            id="dailyPrice"
            placeholder="Enter Daily Price"
          />
        </div>
        <div class="mt-4">
          <label for="description"><strong>Description</strong></label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="Car Description"
          />
        </div>
        <div class="card-footer" align="right">
          <button type="button" class="btn btn-success pull-left">
            Success
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
