<div class="row">
  <div *ngIf="currentCarDto" id="description">
    <strong>
      {{ currentCarDto.description }}
    </strong>
    <p>
      {{ currentCarDto.dailyPrice | currency }}
    </p>

    <button
      (click)="addToCart(currentCarDto)"
      class="card-link btn btn-primary"
    >
      Rent
    </button>
  </div>
  <div
    *ngFor="let images of currentDtoImages"
    class="card"
    style="width: 18rem"
  >
    <img class="card-img-top" [src]="imageBasePath + images.imageUrl" />
    <div class="card-body"></div>
  </div>
</div>
