<div class="card-header mt-2" align="center"><h2>ADD NEW Brand</h2></div>
<div class="m-3" align="center">
  <div class="card-body">
    <form>
      <div class="col-md-10 m-2">
        <div>
          <label for="brandName"><strong>Brand Name</strong> </label>
          <input
            type="text"
            id="brandName"
            class="form-control"
            aria-describedby="Brand Name"
            placeholder="Enter Brand Name"
          />
        </div>
      </div>
      <div class="card-footer" align="right">
        <button type="button" class="btn btn-success pull-left">Add</button>
      </div>
    </form>
  </div>
</div>
