<li *ngIf="carDtoList" class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdown"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Cars
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li *ngFor="let cardto of carDtoList">
      <a class="dropdown-item" [routerLink]="['cars/image/', cardto.id]">{{
        cardto.description
      }}</a>
    </li>

    <li><hr class="dropdown-divider" /></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</li>
